timm @ git+git://github.com/rwightman/pytorch-image-models@9a1bd358c7e998799eed88b29842e3c9e5483e34
segmentation_models_pytorch @ git+https://github.com/papkov/segmentation_models.pytorch
omegaconf>=2.0.5
hydra>=1.0